.contSearch {
  background-color: rgb(51 57 63);
  width: 144%;
  height: 50px;
  border-radius: 34px;
  display: flex;
  margin-bottom: 26px;
  position: absolute;
  top: 5px;
  right: 7px;
}
.lupa {
  margin: 10px 10px 0 10px;
  width: 30px;
  height: 30px;
  filter: invert(1);
}
.inputSearch {
  background: none;
  border: none;
  width: 80%;
  height: 100%;
  color: white;
  font-size: 18px;
  margin-bottom: 26px;
}

@media only screen and (max-width: 600px) {
  .contSearch {
    background-color: rgb(51 57 63);
    width: 131%;
    height: 50px;
    border-radius: 34px;
    display: flex;
    margin-bottom: 26px;
    position: absolute;
    top: 26px;
    right: 4px;
  }
  .lupa {
    margin: 15px 10px 0 10px;
    width: 20px;
    height: 20px;
    filter: invert(1);
  }
}
